//old
$active: #5cc4be;
$primaryhover: #568fa0;
$gray: #7f7d7c;
$light-gray: #fafafa;
//new
$primary: #5bced2;
$primary-dark: #568fa0;
$primary-border: #2ea4a8;
$primary-hover: #36bfc4;
$primary-active: #36bfc4;
$danger:#D9534F;
$white: #fff;
$transparent: transparent;
$table-hover:#C9DDE1;
//
$card-border: #b7d3e3;
$text-muted: #777777;
$text-danger: #a94442;
$text-head: #2c3e4c;
//offcanvas
$offcanvas-vertical-height:90vh;
$offcanvas-border-color:#b7d3e3;
$offcanvas-border-width: 1px;
$offcanvas-horizontal-width:90vw;
//accordian chevron
$accordion-icon-active-color:black;
//

